<!DOCTYPE html>



<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>PHPYTHON - Controles de Projetos com Gantt</title>
        <!-- Última versão CSS compilada e minificada -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<h1>Crie seu Projeto<h1>
		<form>
			<label class="col-sm-2 col-form-label">Nome do Projeto: <input class="form-control" type="text" placeholder="Informe o nome do projeto" ></label>


		</form>

</body>
</html>