<!DOCTYPE HTML>


<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <title>PHPYTHON - Controles de Projetos com Gantt</title>
        <link rel="stylesheet" type="text/css" href="https://gitlab.com/felipemessibraga/pi-phpython/gantt/static/css/estilos.css">
    </head>
    
    <body>
        <div id="topo">
            <img src="images/logo.png">
            
        </div>
        
        <div id="menu">
            <nav>
                <ul>
                    <li><a href="#">Projetos</a>
                            <ul>
                                <li><a href="#">Novo Projeto</a>
                                <li><a href="#">Projetos Salvos</a>
                                <li><a href="amostragantt.html" target="iframeCentral">Gerar Gantt</a>
                            </ul>                                  
                    </li>
                    <li><a href="#">Desenvolvedores</a>
                            <ul>
                                <li><a href="#">Novo Desenvolvedor</a>
                                <li><a href="#">Desenvolvedores Cadastrados</a>
                            </ul> 
                    </li>
                    <li><a href="#">Sobre</a>
                            <ul>
                                <li><a href="#">Processo de criação - PI</a>
                                <li><a href="#">PHPYTHON - GITHUB</a>
                            </ul> 
                    </li>
                    <li><a href="#">Ajuda</a>
                            <ul>
                                <li><a href="#">O que é gantt?</a>
                                <li><a href="#">Manual do sistema</a>
                            </ul> 
                    </li>
                </ul>
            </nav>     
            
            
            
        </div>
        <br><br>
        <div id="divCenter">
            <iframe name="iframeCentral">
                
            </iframe>
            
        </div>
        
        <div id="footer">
            <footer>PHPYTHON - GANTT</footer>
        </div>
    
    
    </body>
    

</html>